<% if(page_params !=="panel" ) {%>
  <footer id="footer">
    <div class="container-fruid mx-5">
      <div class="cols">
        <div class="col">
          <h3>Merak Edilenler ve Sorular</h3>
          <ul>
            <li><a href="blog.html">Esnaf Muafiyeti Nedir ??</a></li>
            <li><a href="blog.html">Esnaf Muafiyeti Belgesi</a></li>
            <li><a href="blog.html">Neden Fatura Yok ??</a></li>
            <li><a href="blog.html">Ürün İade Koşulları</a></li>
            <li><a href="blog.html">Neden Fatura Yok ??</a></li>
            <li><a href="blog.html">Mesafeli Satış Sözleşmesi</a></li>
            <li><a href="blog.html">İade Koşulları</a></li>

          </ul>
        </div>
        <div class="col media">
          <h3>Sosyal Medya</h3>
          <ul class="social">
            <li><a href="https://www.facebook.com/profile.php?id=61571969485536"><span class="pe-1"><i
                    class="fa-brands fa-facebook"></i></span>Facebook</a></li>
            <li><a href="https://www.instagram.com/unsal__38/"><span class="pe-1"><i
                    class="fa-brands fa-instagram"></i></span>İnstagram</a></li>
          </ul>
        </div>
        <div class="col contact">
          <h3>İletişim</h3>
          <p>Tarzı Şahane<br>Büyükçekmece<br>İstanbul</p>
          <p><a href="mailto:contact@tarzisahane.com"><span class="ico ico-em"></span>contact@tarzisahane.com</a></p>
          <p><a href="tel:+905517026813"><span class="ico ico-ph"></span>0 (551) 702 68 13</a></p>
          <p><a id="shopier" href="https://www.shopier.com/s/store/tarzi_Sahane&sid=N2oySlBYM1pNV29wdlRHdTBfLTFfIF8g">
            <img style="width: 30px;" src="../images/Shopier.png" alt="icon">Shopier</a></p>
        </div>
        <div class="col newsletter">
          <h3>Tarzı Şahane</h3>
          <p>Tarzınız için en iyi seçim...</p>
          <img src="/images/logo_band_white@1X.png" alt="iyzico logo">
        </div>
      </div>
      <p class="copy">Copyright 2013 Jewelry. All rights reserved.</p>
    </div>
    <!-- / container -->
  </footer>
  <% } %>
    <!-- jquery JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"
      integrity="sha512-nnzkI2u2Dy6HMnzMIkh7CPd1KX445z38XIu4jG1jGw7x5tSL3VBjE44dY4ihMU1ijAQV930SPM12cCFrB18sVw=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"
      integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- axios JS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <% %>
      <% if ( javascript_file !==null) { %>
        <script src="../javascripts/<%= javascript_file _%>"></script>
        <% } %>
          <% if ( javascript_file1 !==null) { %>
            <script src="../javascripts/<%= javascript_file1 _%>"></script>
            <% } %>
              <% if ( javascript_file2 !==null) { %>
                <script src="../javascripts/<%= javascript_file2 _%>"></script>
                <% } %>
                  <% if ( javascript_file3 !==null) { %>
                    <script src="<%= javascript_file3 _%>"></script>
                    <% } %>
                      <% if ( javascript_file4 !==null) { %>
                        <script src="<%= javascript_file4 _%>"></script>
                        <% } %>


                          </body>

                          </html>