<%- include('../views/header'); %>
  </head>

  <body>
    <h1>
      <%= title %>
    </h1>
    <p>Welcome to <%= title %>
        <p>Üyelik çeşidi <%= permissions %>
        </p>
    </p>
    <% if(permissions==="visitor" || !permissions) {%>
      <a class="btn btn-primary btn-sm " href="login" role="button">login</a>
    <% } %>
    <% if(permissions==="user" || permissions==="admin" ) {%>
        <a class="btn btn-primary btn-sm " href="javascript:void(0)" id="page_exit" role="button">logout</a>
    <% } %>
    <% if(permissions==="admin" ) {%>
        <a class="btn btn-primary btn-sm " href="panel" role="button">admin panel</a>
    <% } %>

  <%- include('../views/footer'); %>