<%- include('../views/header'); %>
  <div id="carouseltopslideRide" class="carousel slide" data-bs-ride="carousel" >
    <div class="carousel-inner d-flex">

      <!-----------------NOT--------------------------------
      1) data-blog iki değer true ve false css(d-none)
      2) manuel reklam ve tanıtım için slayt koymak için yaptım
      ----------------------------------------------------->

      <div class="carousel-item active">
        <h3>Tarzınızı Şahane yapalım...</h3>
        <h2>en güzel doğal taşlarla...</h2>
        <a data-blog="false" class="btn-more" href="blog">Okumak için Tıklayınız</a>
        
        <img src="images/01.jpg" class="d-block w-100" alt="image">
      </div>
      <div class="carousel-item">
        <h3>Yarı Değerli Taşlar</h3>
        <h2>Taşların Anlamları</h2>
        <a data-blog="true" class="btn-more" href="blog/tasların-anlamları">Okumak için Tıklayınız</a>
        <img src="images/yarari_taslar.jpeg" class="d-block w-100" alt="yarari_taslar">
      </div>
      <div class="carousel-item ">
        <h3>Özel Günlerinizle Yanınızdayız</h3>
        <h2>Kadına Hitap Eden Herşey</h2>
        <a data-blog="false" class="btn-more" href="blog">Okumak için Tıklayınız</a>
        <img src="images/02.jpg" class="d-block w-100" alt="image">
      </div>
      <div class="carousel-item">
        <h3>Yarı Değerli Taşlar</h3>
        <h2>Burçlara Göre Taşlar</h2>
        <a data-blog="true" class="btn-more" href="blog/burc-taslar">Okumak için Tıklayınız</a>
        <img src="images/burc_taslar.jpeg" class="d-block w-100" alt="burc-taslar">
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouseltopslideRide" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouseltopslideRide" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- / body -->

  <div id="body">
    <section id="index">
      <div class="container">
        <div class="row">
          <div class="card p-0">
            <div class="card-header bg-transparent">
              <h3 class="card-title">Son Eklenenler</h3>
              <a href="/products" class="card-subtitle mb-2 text-body-secondary">Tümünü Gör</a>
              <a class="card-link m-0" href="https://www.shopier.com/s/store/tarzi_Sahane&sid=N2oySlBYM1pNV29wdlRHdTBfLTFfIF8g" target="_blank">
                <span style="display: inline-block; width: 2.5vw;">
                  <img class="w-100" src="../images/Shopier.png" alt="icon">
                </span>
                Shopier Dükkan
              </a>
              <div class="d-flex me-5">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
            </div>
            <div class="card-body">
                <!-- Swiper -->
                <div class="swiper mySwiper">
                  <div class="swiper-wrapper">
                    <% product_data.forEach(e => {%>
                      <div class="swiper-slide">

                        <%- include("../views/product",{e,permissions}); %>
                        
                      </div>
                    <%}); %>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="blog">
      <div class="container">
        <div class="row">
          <div class="card p-0">
            <div class="card-header bg-transparent">
              <h3 class="card-title">Blog</h3>
              <a href="blog" class="card-subtitle mb-2 text-body-secondary">Tümünü Gör</a>
              <div class="d-flex me-5">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
            </div>
            <div class="card-body">
            
                <div class="swiper mySwiper1">
                  <div class="swiper-wrapper">
                    <% blog_data.forEach(e => {%>
                      <div class="swiper-slide">
                        <div class="card text-bg-dark">
                          <img src="images/<%= e.image %>" class="card-img" alt="<%= e.title %>">
                          <div class="card-img-overlay">
                            <h5 class="card-title"><%= e.title %></h5>
                            <a class="card-link" href="<%= e.url %>">Okumak için tıklayınız</a>
                          </div>
                        </div>
                      </div>
                   <% }); %>
                  </div>
                </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>
   <!-- / container -->
  </div>
  <!-- / body -->
  <%- include('../views/footer'); %>
    <!-- / footer -->