<%- include('../views/header'); %>
  </head>

  <body id="panelUser">
    <%- include('../views/panel_top_menu'); %>
    <div class="container-fruid">
      <div class="row">
        <!--  MENU LEFT ---------------------
  ---------------------------------->
  <%- include('../views/panel_left_menu'); %>
          <!--  BODY ---------------------
  ---------------------------------->
          <div class="panelBody">
            <div class="container-fluid">
              <div class="row">
                <% if(page===null) { %>
                  <%- include(`../views/panel_page/ana_sayfa`); %>
                <% } %>
                <% if(page !==null) { %>
                    <%- include(`../views/panel_page/${page}`); %>
                <% } %>
              </div>
            </div>
            </div>
        </div>
      </div>
    </div>
    <%- include('../views/footer'); %>
    