<%- include('../views/header'); %>

  <div class="container">
    <input id="searchİnput" class="form-control my-2" type="search" placeholder="ürün arama" aria-label="Search">
  </div>

  <div id="product" class="container-fruid m-4">
    <div class="row">
      <div class="alert alert-danger col-8 m-auto mb-2 d-none" role="alert"></div>

      <div id="body">
        <%- include('../views/products_pagination'); %>
          <div class="products-wrap">
            <aside id="sidebar">
              <div class="widget">
                <h3>Sıralama:</h3>
                <fieldset>

                  <div class="form-check">
                    <input id="favori" class="form-check-input" type="checkbox" value="" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Favori
                    </label>
                  </div>
                  <div class="form-check">
                    <input id="fiyat" class="form-check-input" type="checkbox" value="">
                    <label class="form-check-label" for="flexCheckDefault">
                      Fiyat
                    </label>
                  </div>

                </fieldset>
              </div>
              <div class="widget">
                <h3>Fiyat: 0-<span id="customRange3-price"></span></h3>
                <fieldset>
                  <input id="customRange3" type="range" class="form-range" min="1" max="<%= filter_range_max _%>" step="0.5"  value="0">
                  <button id="customRange3Button" type="button" class="btn btn-secondary text-capitalize w-100">filtrele</button>
                </fieldset>
              </div>
            </aside>

            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
              <% product_data.forEach(e => { %>
                <div data-filter-id="<%= e.id %>" class="col inputSearch">
                    <div class="card">
                      <img data-product-id= <%= e.id %> data-bs-toggle="modal" data-bs-target="#productModal"
                      <% if(e.media[0] !== undefined) {var data = e.media[0].url}%>
                      <% if(e.media[0] === undefined) {var data = "../images/logo.jpeg"}%>
                        src="<%= data %>"
                        class="card-img-top" alt="<%= e.title %>">
                        <span class="produckt_eye"><i class="bi bi-eye-fill"></i></span>
                      <div style="font: initial;" class="card-body">
                        <h5 class="card-title"><%= e.title %> - <span><%= e.price_data.price %> tl</span></h5>
                        <div class="d-flex flex-column text-start">
                          <a class="card-link" href="<%= e.url %>">
                            <span style="font-size: 1.3vw;" class="me-1 my-1">
                              <i class="bi bi-cart4"></i>
                            </span>
                            Shopier Devam Et
                          </a>
                          <a class="card-link ms-0" href="sepet">
                            <span style="font-size: 1.3vw;" class="me-1 my-1">
                              <i class="bi bi-cart4"></i>
                            </span>
                            Sepete Ekle
                          </a>
                        </div>
                      </div>
                    </div>
                </div>
              <%  }); %>
            </div>
          </div>
          <%- include('../views/products_pagination'); %>
            <!-- / container -->
      </div>


    </div>
  </div>
  <%- include('../views/footer'); %>