<div class="shopier row row-cols-1 g-4">

  <div class="col">
    <div class="card shopier_kategori  mb-3">
      <div class="card-header d-flex">
        <h4 class="text-capitalize me-auto">Kategori İşlemleri</h4>
        <button id="shopier_kategori" type="button" class="me-1 text-capitalize btn btn-secondary">kategorileri
          gör</button>
        <button id="catacory_add" type="button" class="me-1 text-capitalize btn btn-secondary">ekle</button>
      </div>
      <div class="shopier_body card-body d-none">

        <div class="row row-cols-1 row-cols-md-2 g-4">

          <% categories_data.forEach(e=> { %>
            <div class="col">
              <div class="card">
                <div class="card-header text-end"><button data-catacory_delete-id="<%= e.id %>" type="button"
                    class="btn btn-danger">Sil</button></div>
                <div class="card-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">title: <span>
                        <%= e.title %>
                      </span></li>
                    <li class="list-group-item">placement: <span>
                        <%= e.placement %>
                      </span></li>
                    <li class="list-group-item">is_active: <span>
                        <%= e.is_active %>
                      </span></li>
                    <li class="list-group-item">created_by: <span>
                        <%= e.created_by %>
                      </span></li>
                    <li class="list-group-item">shopier_id: <span>
                        <%= e.shopier_id %>
                      </span></li>
                  </ul>
                </div>
              </div>
            </div>
            <% }); %>



        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shopier_urun mb-3">
      <div class="card-header d-flex">
        <h4 class="text-capitalize me-auto">Ürün İşlemleri</h4>
        <button id="shopier_urun" type="button" class="me-1 text-capitalize btn btn-secondary">ürünleri gör</button>
        <button id="product_add" type="button" class="me-1 text-capitalize btn btn-secondary">ekle</button>
      </div>
      <div class="shopier_body card-body d-none product">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 g-4">

          <% product_data.forEach(e=> { %>
            <div class="col">
              <div class="card">
                <div class="card-header text-left">
                  <span class="text-capitalize me-1">
                    <%= e.title _%>
                  </span>
                  <div class="w-100 mb-2 d-flex justify-content-end">
                    <button type="button" class="ayrinti btn btn-info m-1"><i
                        class="pe-1 fa-solid fa-circle-info"></i>Ayrıntı</button>
                    <button data-product_delete-id="<%= e.id _%>" type="button" class="btn btn-danger m-1"><i
                        class="pe-1 fa-solid fa-trash"></i>Sil</button>
                  </div>

                  <div class="input-group mb-3">
                    <input name="data-youtube-<%= e.id %>" type="text" class="form-control" placeholder="Url giriniz" aria-label="Url giriniz"
                      aria-describedby="button-youtube-add">
                    <button data-youtube-product-id="<%= e.id %>" class="btn btn-outline-success" type="button">
                      Ekle
                    </button>
                  </div>

                  <div class="input-group mb-3">
                    <input readonly type="text" class="form-control" placeholder="<%= e.youtube_video_link %>"
                      aria-label="<%= e.youtube_video_link %>" aria-describedby="button-youtube-delete">

                    <button data-product-id="<%= e.id %>"
                            data-product_youtube_delete-id="<%= e.youtube_video_link _%>"
                            class="btn  btn-outline-danger" type="button" id="buttonYoutubeDelete">Sil</button>
                  </div>
                </div>
                <div class="card-body d-none">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">title: <span>
                        <%= e.title _%>
                      </span></li>
                    <li class="list-group-item">is_active: <span>
                        <%= e.is_active _%>
                      </span></li>
                    <li class="list-group-item">created_by: <span>
                        <%= e.created_by _%>
                      </span></li>
                    <li class="list-group-item">describe: <span>
                        <%= e.describe _%>
                      </span></li>
                    <li class="list-group-item">url: <a href="<%= e.url _%>">ürün linki(<%= e.url _%>)</a></li>
                    <li class="list-group-item">stockStatus: <span>
                        <%= e.stockStatus _%>
                      </span></li>
                    <li class="list-group-item">stockQuantity: <span>
                        <%= e.stockQuantity _%>
                      </span></li>
                    <li class="list-group-item">on_click: <span>
                        <%= e.on_click _%>
                      </span></li>

                    <li class="list-group-item">media:
                      <% for (let index=0; index < e.media.length; index++) { %>
                    <li class="list-group-item d-flex flex-column mb-1" style="border: 2px solid rgb(159, 159, 159);">
                      <span>id: <%= e.media[index].id %> </span>
                      <span>url: <%= e.media[index].url %></span>
                      <span>placement: <%= e.media[index].placement %></span>
                      <img class="w-25" src="<%= e.media[index].url %>" alt="ürün resim">
                    </li>
                    <%}%>
                      </li>
                      <li class="list-group-item">categories:
                        <ul class="list-group list-group-flush">
                          <% for (let index=0; index < e.categories.length; index++) { %>
                            <li class="list-group-item d-flex flex-column mb-1"
                              style="border: 2px solid rgb(159, 159, 159);">
                              <span>title: <%= e.categories[index].title %></span>
                              <span>id: <%= e.categories[index].id %> </span>
                            </li>
                            <%}%>
                        </ul>
                      </li>
                      <li class="list-group-item">price_data:
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item d-flex flex-column mb-1"
                            style="border: 2px solid rgb(159, 159, 159);">
                            <span>price: <%= e.price_data.price _%></span>
                            <span>discount: <%= e.price_data.discount _%> </span>
                            <span>discountedPrice: <%= e.price_data.discountedPrice _%></span>
                            <span>shippingPrice: <%= e.price_data.shippingPrice _%> </span>
                          </li>
                        </ul>
                      </li>
                  </ul>
                </div>
              </div>
            </div>
            <% }); %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>